createdAt: "2018-12-24T01:27:57.091Z"
updatedAt: "2019-01-08T04:14:16.918Z"
type: "MARKDOWN_NOTE"
folder: "6c4c627ad430495f5a91"
title: "6. 일렉트론의 내부 구조"
tags: []
content: '''
  ## 6. 일렉트론의 내부 구조
  
  
'''
isStarred: false
isTrashed: true
