createdAt: "2018-09-06T00:19:35.451Z"
updatedAt: "2018-09-07T00:23:18.671Z"
type: "MARKDOWN_NOTE"
folder: "484b44b44387f9909a91"
title: "간결한 표현들"
content: '''
  ### 간결한 표현들
  
  | A |  |
  |---|---|
  | A piece of cake. | 식은 죽 먹기지요. |
  | Absolutely. | 당근 |
  | After you. | 먼저 가세요. | 
  | Always. |항상 그렇지요. | 
  | Amazing. |대단하네요. | 
  | And then? |그리고 나서는요? | 
  | Any good ideas? |좋은 생각이라도? | 
  | Any time. |언제라도요. | 
  | Anybody home? |집에 누구 있어요? | 
  | Anything else? |그 밖에 뭐 있어요? | 
  | Are you in line? |지금 줄에 서 계신 거죠? | 
  | Are you kidding? |놀리는 거 아니죠? | 
  | Are you serious? |진심이에요? 그거 진짜에요? | 
  | At last. |드디어 | 
  | Attention, please! |주목해 주세요. | 
  | Awesome! |와우 멋지다 | 
  
  
  | B | | 
  |---|---|
  | Back me up. |뒤 좀 봐줘(나를 지원해 줘) | 
  | Be my guest. |사양 마세요 | 
  | Be patient. |좀만 참아 보세요. | 
  | Be punctual! |약속시간 좀 지켜 | 
  | Be right back with you. |잠시만요(곧 돌아 올께요.) | 
  | Be seated. |앉으세요. | 
  | Beat it. |(이 자리에서) 꺼져 | 
  | (Beer), please. |(맥주) 주세요. | 
  | Behava youreself. |예의를 갖추시죠 | 
  | Better late than never. |늦는게 안 하는 것보다 낫지요. | 
  | Better than nothing. |없는 것보단 낫지요 | 
  | Boy! It hurts. |이봐, 아퍼요. | 
  | Break it up. |그만 좀 싸워 | 
  
  
  | C | | 
  |---|---|
  | Call me Sam, please |샘이라고 불러 주세요. | 
  | Can I get a ride? |차로 좀 태워다 줄 수 있어요? | 
  | Can you hear me now? |잘 들려요? | 
  | Can't argue with that. |그건 논란의 여지가 없죠 | 
  | Can't be better than this. |이것보다 더 좋을 순 없죠 | 
  | Cash or charge? |현금이세요? 카드세요? | 
  | Catch you later. |나중에 보자구요(들를게요.) | 
  | Certainly. |확실히 그렇죠. | 
  | Charge it please. |신용카드로 결재해 주세요. | 
  | Check it out. |확인해 보세요. | 
  | Check, please |계산서 좀 주세요. | 
  | Cheer up! |기운 내요(화이팅!) | 
  | Cheers! |건배 | 
  | (Coffee), please |(커피) 주세요.| 
  | Come and get it. |와서 가져가요() | 
  | Come on in. |들어 오세요 | 
  | Come on. |설마(에이~) | 
  | Congratulations! |축하합니다. | 
  | Could be. |그럴 수도 있겠죠 | 
  | Couldn't be better than this. |이보다 더 좋을 순 없어 | 
  
  
  | C | | 
  |---|---|
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  
  
  | C | | 
  |---|---|
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  
  
  | C | | 
  |---|---|
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
  |  | | 
'''
tags: []
isStarred: false
isTrashed: false
