createdAt: "2018-12-12T10:17:22.841Z"
updatedAt: "2018-12-19T07:05:37.175Z"
type: "MARKDOWN_NOTE"
folder: "6c4c627ad430495f5a91"
title: "Sip Stack for WEB 5 :rocket:"
content: '''
  ## Sip Stack for WEB #5 :rocket:
  : Js + dll + TrayApp (Golang) 방법
  - Restful api 를 통해 백그라운드 어플이 요청을 받아 처리
  - c 라이브러리(dll) 는 go 모듈사용하여 인터페이스를 만들어 go 에서 호출 가능
  - native socket 을 사용할 수 있고, 검증된 방법
  - 백그라운드 어플은 systray(go) 으로 Tray 어플을 작성. 개발, 설치 및 배포 편의를 도모
  
  Todo:
  1. sip stack Dll 로 감싸 DLL Library 만들기
  2. go 인터페이스 만들기
  3. Tray 어플 만들기
  4. 앱 설치시 Registry 에 등록 후 호출 되는 것 확인
  
  대충 만들어 본 것. 아래 위치에 있다.
  go app, dll wrapper 아직 못 만들어 봄.
  sip DLL Library - C:\\dev\\windows\\SipDllWrapper
  
  
'''
tags: []
isStarred: false
isTrashed: false
