createdAt: "2018-12-24T01:29:16.230Z"
updatedAt: "2019-01-08T04:14:14.569Z"
type: "MARKDOWN_NOTE"
folder: "6c4c627ad430495f5a91"
title: "12. 애플리케이션의 데어터 저장하기"
tags: []
content: '''
  ## 12. 애플리케이션의 데어터 저장하기
  
  
'''
isStarred: false
isTrashed: true
