createdAt: "2018-07-04T08:51:11.956Z"
updatedAt: "2018-07-04T08:51:14.122Z"
type: "MARKDOWN_NOTE"
folder: "78ec2c10b762f941f312"
title: "jBPM"
content: '''
  ### jBPM
  
  - [Red Hat Summit 2014 - Deep Dive into jBPM 6](https://access.redhat.com/videos/872003)
  
  #### Overview
  - jBPM 6 highlights
  - 5 minute demo
  - Deep dive into jBPM Execution Server
    - Session mgmt strategies
    - Remote API
    - Repository and deployment
    - Service Tasks
  
  > #### Key characteristics
  >
  - Light-weight process engine
  - Standards-based (BPMN 2.0, BPSim, JPA, JTA, etc)
  - From developers to business users
    - Designer
    - Data Modeler
    - Form Modeler
    - BAM
    - Workbench
  - From embedded to as a service
  - Entire life cycle
    - Model → Deploy → Manage Processes → Manage Tasks → Monitor
  - Cloud-ready
  
  > #### jBPM Execution Server
  > 
  - KieSession and TaskService
  - RuntimeManager
    - Session mgmt strategies
  - jBPM Services
    - Deployment, CDI
  - Remote API
    - REST, JMS, Java Client
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
