createdAt: "2018-07-04T09:24:51.955Z"
updatedAt: "2018-07-04T09:25:27.014Z"
type: "MARKDOWN_NOTE"
folder: "78ec2c10b762f941f312"
title: "참고 사이트"
content: '''
  ## 참고 사이트
  
  * [Drools Documentation](http://docs.jboss.org/drools/release/latestFinal/drools-docs/html_single/)
  * [BRMS Technology Leader InnoRules](http://www.innorules.com/)
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
