createdAt: "2018-07-04T09:24:51.955Z"
updatedAt: "2018-07-05T04:33:09.518Z"
type: "MARKDOWN_NOTE"
folder: "78ec2c10b762f941f312"
title: "참고 사이트"
content: '''
  ## 참고 사이트
  
  * [Drools Documentation](http://docs.jboss.org/drools/release/latestFinal/drools-docs/html_single/)
  * [Processes, Rules and Events: 2018](http://kverlaen.blogspot.com/2018/)
  
  * [Building Self Service Applications with jBPM 7.x YouTube](https://www.youtube.com/watch?v=Uy83kmVcWpw)
  
'''
tags: []
isStarred: false
isTrashed: false
