createdAt: "2019-02-10T04:27:09.562Z"
updatedAt: "2019-02-10T07:27:37.441Z"
type: "MARKDOWN_NOTE"
folder: "6584094acd502b432b2c"
title: "TIP :koala:"
tags: []
content: '''
  # TIP :koala:
  
  1. 한국은행 통계정보시스템(ECO) 이용법
  [한국은행경제통계시스템](http://ecos.bok.or.kr/) 은 환율, 통계 등 각종 경제 데이터를 손쉽게 내려받을 수 있는 아주 편리한 사이트다.
  
  2. 한국국가통계포털(KOSIS) 이용법
  [KOSIS 국가통계포털](http://kosis.kr/index/index.do) 에서 한국의 경기선행지수의 전년동기대비 증가율 데이터를 다운받는 방법을 알아보자.
  메인페이지 > '경기 기업경영(사업체)' 항목 선택
  경기종합지수 선택 > 경기종합지수(2005=100) 선택
  
  3. 미국 공급관리자협회 제조업지수 이용법
  [ISM - Institute for Supply Management](https://www.instituteforsupplymanagement.org/index.cfm?SSO=1)
  포털 사이트에서 '공급관리자협회' 라고 검색.
  우리의 관심사는 최근에 발표된 공급관리자협회의 보고서이니, 꺾쇠로 표시된 'ISM Report On Business' 항목을 클릭하자.
  NEWS & RESEARCH > ISM Report On Business
  Latest Manufacturing ROB 가 우리가 원하는 통계다. 
  최근 발표된 ISM 제조업 종합지수(PMI)는 물론, 우리가 찾으려는 신규주문 지수 등 다양한 세부 지표의 흐름을 확인할 수 있다.
  그러나 Latest Manufacturing ROB 는 최근의 흐름을 보여줄 뿐, 과거의 역사적인 흐름을 보여주지는 않기 때문에 두 번째 꺾쇠 표시된 항목 'Manufacturing Data' 를 클릭하자.
  다음 창에서 'Historical Information' 을 클릭하고 'All Manufacturing Indexes in one file' 항목을 클릭하면 엑셀로 데이터를 다운받을 수 있다.
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
