createdAt: "2018-12-24T01:27:08.376Z"
updatedAt: "2019-01-08T04:21:31.046Z"
type: "MARKDOWN_NOTE"
folder: "6c4c627ad430495f5a91"
title: "5. Node.js 사용하기"
tags: []
content: '''
  ## 5. Node.js 사용하기
  
  Node.js 는 2009년에 Ryan Dahl이 만든 프로그래밍 프레임워크.
  V8 자바스크립트 엔진과 libuv(비동기 형태로 운영체제의 기능에 접근할 수 있게 해주는 라이브러리)를 합친 것.
  
  ### 1. 동기와 비동기
  
  예제1. Nodejs를 사용해 동기적으로 폴더 내부의 파일 수 구하기
  
      const fs = require('fs');
      const files = fs.readdirSync('/Users/pauljensen');
      console.log(files.length);
  
  예제2. Nodejs를 사용해 비동기적으로 폴더 내부의 파일 수 구하기
  
      const fs = require('fs');
      const files = fs.readdir('/Users/pauljensen', (err, files) => {
          console.log(files.length);    
      });
  
  ### 2. 스트림
  스트림을 사용하면 많은 양의 데이터를 전송하고 처리할 때 메모리를 크게 절약할 수 있다. 
  텍스트 파일을 chunk 단위로 잘라서 하나하나 읽어 들인 뒤에, 데이터를 처리하는 것이 더 효율적.
  
  
      // * 실행 속도 계산
      // - 코드 시작 시
      const startTime = process.htrime();
      // - 코드 종료 시
      const diff = process.hrtime(startTime);
      console.log('benchmark took %d nanoseconds', diff[0] * 1e9 + diff[1]);
  
      // * 사용 메모리 계산
      console.log(process.memoryUsage())
      // -> 결과
      // {rss: 36184064, heapTotal: 20658336, heapUsed: 16310280}
      
  ### 3. 이벤트
  
      const greeter = new events.EventEmitter();
      
      greeter.on('welcome', function() {
        console.log('hello');
      });
      
      greeter.emit('welcome');
  
  ### 4. 모듈
  Nodejs는 재사용 가능한 코드들을 모듈이라는 기능으로 만들 수 있다.
  
      function applyDiscount (code, amount) {
          // ...
      };
  
      // 함수를 외부에 공개하는 방법
      // 방법1.
      exports.applyDiscount = applyDiscount;
      
      // 방법2. 
      module.exports = {
          applyDiscount: applyDiscount
      };
      
      // 방법3. 파일에서 하나의 함수만 호출할 수 있게 하는 경우.
      module.exports = applyDiscount;
      
  
'''
isStarred: false
isTrashed: true
