createdAt: "2019-02-26T01:18:11.996Z"
updatedAt: "2019-02-28T07:06:58.956Z"
type: "MARKDOWN_NOTE"
folder: "f4475e98ee6d98fde24a"
title: "CSS와 박스모델"
tags: []
content: '''
  # CSS와 박스모델
  
  ## 블록 레벨 요소
  - 요소를 삽입했을 때 혼자 한 줄을 차지하는 요소
  - 요소의 너비가 100%
  - 예) div, p 등
  
  ## 인라인 레벨 요소
  - 줄을 차지하지 않는 요소
  - 화면에 표시되는 콘텐츠만큼만 영역을 차지하고 나머지 공간에는 다른 요소가 올 수 있음
  - 예) img, strong 등
  
  ## 박스 모델
  - 실제 콘텐츠 영역, 패딩(padding), 박스의 테두리(border), 그리고 마진(margin) 등의 요소로 구성됨
  - 개발자 도구 창에서 박스 모델 확인 가능
  
  ## display 속성
  - 블록 레벨 요소를 인라인 레벨 요소로 바꾸거나 인라인 레벨 요소를 블록 레벨 요소로 바꿈
  
  `기본형 display: none | contents | block | inline | inline-block | table | table-cell 등`
  
  ## 테두리 관련 속성들
  - box-shadow 속성
  선택한 요소에 그림자 효과 내기
  `box-shadow: none | <그림자 값>;`
  `<그림자 값> = <수평 거리> <수직 거리> <흐림 정도> <번짐 정도> <색상> inset`
  |속성 값|설명|
  |--|--|
  |수평 거리|그림자의 수평 옵셋 거리(수평으로 얼마나 떨어져 있는지)입니다. 양수 값은 요소의 오른쪽, 음수 값은 요소의 왼쪽에 그림자를 만듭니다. 필수 속성|
  |수직 거리|그림자의 수직 옵셋 거리(세로로 얼마나 떨어져 있는지)입니다. 양수 값은 요소의 아래쪽, 음수 값은 요소의 위쪽에 그림자를 만듭니다. 필수 속성|
  |흐림 정도|그림자의 흐림 정도를 지정합니다. 이 값을 생략하면 0을 기본 값으로 해 진한 그림자를 표시합니다. 이 값이 커질수록 부드러운 그림자를 표시하며 음수 값은 사용할 수 없습니다.|
  |번짐 정도|그림자의 번지는 정도를 나타냅니다. 양수 값을 사용하면 그림자가 모든 방향으로 퍼져 나가기 때문에 그림자가 박스보다 크게 표시됩니다. 반대로 음수 값은 그림자가 모든 방향으로 축소되어 보입니다. 기본 값은 0입니다.|
  |색상|그림자의 색상을 지정합니다. 한 가지만 지정할 수도 있고 공백으로 구분해 여러 개의 색상을 지정할 수도 있습니다. 필요한 경우에만 사용하는 옵션 값이며 기본 값은 현재 글자 색입니다.|
  |inset|이 키워드를 함께 표시하면 안쪽 그림자로 그립니다. 필요한 경우에만 사용하는 옵션 값입니다.|
  
  ## position 속성
  웹 문서 안에 요소들을 배치하기 위한 속성
  `기본형 position: static | relative | absolute | fixed`
  
  |속성 값|설명|
  |--|--|
  |static|요소를 문서의 흐름에 맞추어 배치합니다.|
  |relative|이전 요소에 자연스럽게 연결해 배치하되 위치를 지정할 수 있습니다.|
  |absolute|원하는 위치를 지정해 배치합니다.|
  |fixed|지정한 위치에 고정해 배치합니다. 화면에서 요소가 잘릴 수도 있습니다.|
  
  ### 1. static
  - 문서의 흐름대로 배치한다.
  - left 속성이나 top 속성을 지정할 수 없다.
  
  ### 2. relative
  - 자연스럽게 배치
  - 고정되어 있지 않고 다른 요소에 의해 바뀔 수 있다.
  - 상대적인 위치를 사용하기 때문에 다른 요소와 조화를 이룬다.
  - left 나 top 속성을 이용해 요소의 위치를 옮길 수도 있다.
  
  ### 3. absolute
  - 문서의 흐름과는 상관없이 원하는 위치에 요소를 배치
  - 요소의 위치는 가장 가까운 부모 요소나 조상 요소 중 position:relative 요소
  - left, top, right, bottom 속성을 사용해 네 모서리에서 얼마나 떨어져 있는지 지정
  
  ### 4. fixed
  - 문서의 흐름과는 상관없이 원하는 위치에 요소를 배치
  - 부모 요소가 아닌 브라우저 창 기준
  -> 브라우저 창 왼쪽 위 꼭지점(0, 0) 기준으로 좌표 계산
  - 브라우저 창 화면을 스크롤하더라도 계속 같은 위치에 고정
  
  ## Selector
  
  |기본형|스타일 적용 경우|예: 선택자|예:적용되는 요소|
  |--|--|--|--|
  |[속성]|지정한 속성 일 때|`[href]`|`<a href="#">메뉴 1</a>`|
  |[속성=값]|값에 일치할 때|`[target="_blank"]`|`<a href="#" target="_blank">HTML</a>`|
  |[속성~=값]|여러 값들 중 특정 '값'이 포함되어 있을 때(단어별)|`[class~="button"]`|`<a href="#" class="flat button">메뉴 2</a>`|
  |[속성`|`=값]|'값'이 포함되어 있을 때(하이픈 포함 단어별)|`[class|="us"]`|`<a href="#" title="us">영어</a>`|
  |[속성^=값]|'값'으로 시작할 때|`[title^="eng"]`|`<a href="#" title="english">영어</a>`|
  |[속성$=값]|'값'으로 끝날 때|`[href$="xls"]`|`<a href="intro.xls">엑셀 파일</a>`|
  |[속성*=값]|'값'이 속성 값의 일부 일 때|`[href*="w3"]`|`<a href="http://www.w3c.org">HTML 사이트</a>`|
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
