createdAt: "2019-02-27T06:05:55.183Z"
updatedAt: "2019-02-27T07:09:06.806Z"
type: "MARKDOWN_NOTE"
folder: "f4475e98ee6d98fde24a"
title: "HTML5"
tags: []
content: '''
  # HTML5
  ## HTML5 시맨틱 태그
  ### 1. `header` 태그 - 머리말 지정하기
  - 사이트 전체의 제목 부분이 될 수도 있고, 본문의 제목 부분이 될 수도 있다.
  - 주로 페이지 맨 위쪽이나 왼쪽에 삽입
  - form 태그를 사용해 검색 창을 넣거나 nav 태그를 사용해 사이트 메뉴를 넣음
  
  ### 2. `nav` 태그 - 내비게이션 링크
  - 같은 사이트 안의 문서나 다른 사이트의 문서로 연결하는 링크를 나타냄
  - 내비게이션 메뉴뿐만 아니라 푸터에 있는 사이트 링크 모음부분에도 사용됨
  
  ### 3. `section` 태그 - 주제별 콘텐츠 영역
  - 문서에서 주제별로 콘텐츠를 묶을 때 사용
  - 섹션 제목을 나타내는 `hn` 태그가 함께 사용됨
  
  ### 4. `article` 태그 - 콘텐츠 내용
  - 웹 상의 실제 내용
  - 태그 적용 부분을 떼어내 독립적으로 배포하거나 재사용하더라도 완전히 하나의 콘텐츠
  
  ### 5. `aside` 태그 - 본문 이외의 내용
  - 본문 내용 외에 주변에 표시되는 기타 내용들
  - 필수 요소가 아니므로 광고나 링크 모음 등 문서의 메인 내용에 영향을 미치지 않는 내용들을 넣을 때 사용
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
