createdAt: "2018-12-24T01:29:52.173Z"
updatedAt: "2019-01-08T04:14:08.675Z"
type: "MARKDOWN_NOTE"
folder: "6c4c627ad430495f5a91"
title: "4. 배포하기"
tags: []
content: '''
  # 4. 배포하기
  ## 16. 테스트
  
  ## 17. 애플리케이션 성능 디버깅
  
  ## 18. 애플리케이션 패키지 만들기
  
  
'''
isStarred: false
isTrashed: true
