createdAt: "2018-12-24T01:29:33.845Z"
updatedAt: "2019-01-08T04:14:12.054Z"
type: "MARKDOWN_NOTE"
folder: "6c4c627ad430495f5a91"
title: "15. 데스크톱 노티피케이션"
tags: []
content: '''
  ## 15. 데스크톱 노티피케이션
  
  
'''
isStarred: false
isTrashed: true
